{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
    <head>
        <title>Photoshare</title>
    </head>

    <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'photoshare.views.home_view' %}">Photoshare</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% block navbar%}
            {% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a href="{% url 'photoshare.views.logout_view' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'photoshare.views.login_view' %}">Login</a></li>
          {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div>
    {% block content %}{% endblock %}
    </div>
    </body>
</html>