{% extends "photoshare/base.html" %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

<div style="max-width:250px;margin-left:auto;margin-right:auto;">
<form method="post" action="/accounts/login/" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok" %} Login
        </button>
    {% endbuttons %}
 </form>
 <a href="/accounts/register/">Register</a>
 </div>

{% endblock %}